Repository rishabh19bvp/opinify_MVP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Redesign AddPollScreen: modern iOS-inspired UI, removed Yes/No option buttons, improved form layout and accessibility
  mobile-expo/src/screens/AddPollScreen.tsx
Due: none

Poll Page Added
  api/dist/server.js
  api/src/controllers/newsController.ts
  api/src/controllers/pollController.ts
  api/src/routes/newsRoutes.ts
  api/src/server.ts
  api/src/services/firebaseService.ts
  mobile-expo/.env
  mobile-expo/App.tsx
  mobile-expo/src/api/apiClient.ts
  mobile-expo/src/api/discussionsApi.ts
  mobile-expo/src/navigation/AppNavigator.tsx
  mobile-expo/src/navigation/CustomTabBar.tsx
  mobile-expo/src/navigation/TabNavigator.tsx
  mobile-expo/src/screens/ForgotPasswordScreen.tsx
  mobile-expo/src/screens/LoginScreen.tsx
  mobile-expo/src/screens/NewsScreen.tsx
  mobile-expo/src/screens/PollsScreen.tsx
  mobile-expo/src/services/api.ts
  mobile-expo/src/services/apiUtils.ts
  mobile-expo/src/services/firebase.ts
  mobile-expo/src/store/authStore.ts
  mobile-expo/src/store/pollStore.ts
Due: eslint --fix, prettier --write

The refresh on newsScreen fetches new news articles
  api/dist/server.js
  api/src/routes/newsRoutes.ts
  api/src/server.ts
  api/src/services/newsService.ts
  mobile-expo/.env
  mobile-expo/App.tsx
  mobile-expo/app.json
  mobile-expo/src/api/apiClient.ts
  mobile-expo/src/screens/NewsScreen.tsx
  mobile-expo/src/store/authStore.ts
Due: eslint --fix, prettier --write

Refactor poll animations and optimize vote handling logic
  mobile-expo/src/screens/PollsScreen.tsx
Due: none

Configure API base URL and enhance poll voting animation with smoother transitions. Known issues, the animations for polls work for every poll when voted,
  mobile-expo/src/screens/PollsScreen.tsx
  mobile-expo/src/store/authStore.ts
Due: eslint --fix, prettier --write

Add discussions feature with user profile enhancements and API updates
  .DS_Store
  api/dist/server.js
  api/src/controllers/authController.ts
  api/src/controllers/discussionController.ts
  api/src/controllers/pollController.ts
  api/src/models/User.ts
  api/src/server.ts
  docs/design/01-core-principles.md
  docs/design/02-ux-laws.md
  docs/design/03-components.md
  mobile-expo/.env
  mobile-expo/App.tsx
  mobile-expo/app.json
  mobile-expo/src/api/apiClient.ts
  mobile-expo/src/config/index.ts
  mobile-expo/src/navigation/AppNavigator.tsx
  mobile-expo/src/navigation/CustomTabBar.tsx
  mobile-expo/src/navigation/DiscussionsStackNavigator.tsx
  mobile-expo/src/navigation/TabNavigator.tsx
  mobile-expo/src/screens/DiscussionDetailScreen.tsx
  mobile-expo/src/screens/DiscussionsScreen.tsx
  mobile-expo/src/screens/EditProfileScreen.tsx
  mobile-expo/src/screens/ProfileScreen.tsx
  mobile-expo/src/services/api.ts
  mobile-expo/src/store/authStore.ts
  mobile-expo/src/types/auth.ts
Due: eslint --fix, prettier --write

Update IP address and enhance discussion detail UI with improved header styling
  api/dist/server.js
  api/src/server.ts
  mobile-expo/.env
  mobile-expo/App.tsx
  mobile-expo/app.json
  mobile-expo/src/api/apiClient.ts
  mobile-expo/src/config/index.ts
  mobile-expo/src/navigation/DiscussionsStackNavigator.tsx
  mobile-expo/src/screens/DiscussionDetailScreen.tsx
  mobile-expo/src/store/authStore.ts
Due: eslint --fix, prettier --write

Migrate auth system from JWT to Firebase Auth with backend integration
  .gitignore
  api/.env
  api/dist/server.js
  api/src/controllers/authController.ts
  api/src/controllers/discussionController.ts
  api/src/controllers/pollController.ts
  api/src/middleware/auth.ts
  api/src/models/DiscussionChannel.ts
  api/src/models/Poll.ts
  api/src/models/User.ts
  api/src/routes/authRoutes.ts
  api/src/server.ts
  api/src/services/auth.ts
  api/src/services/newsService.ts
  api/src/services/pollService.ts
  api/src/types/auth.ts
  api/src/types/poll.ts
  api/src/types/user.ts
  mobile-expo/.env
  mobile-expo/App.tsx
  mobile-expo/app.config.js
  mobile-expo/app.json
  mobile-expo/src/api/apiClient.ts
  mobile-expo/src/api/discussionsApi.ts
  mobile-expo/src/api/pollsApi.ts
  mobile-expo/src/config/index.ts
  mobile-expo/src/screens/LoginScreen.tsx
  mobile-expo/src/services/api.ts
  mobile-expo/src/services/firebase.ts
  mobile-expo/src/services/firebaseAuth.ts
  mobile-expo/src/store/authStore.ts
  secrets/.gitkeep
Due: eslint --fix, prettier --write
